<configuration debug="true" scan="false">
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern><![CDATA[%d{dd-MM-yyyy HH:mm:ss} %boldBlue(CSL) : %highlight(%-5level) %logger.%M:%L - %msg%n%rEx{full,
				com.sun.proxy,
				java.lang.reflect,
				java.net,
				java.util.concurrent,
				org.apache.catalina,
				org.springframework.aop,
				org.springframework.cglib,
				org.springframework.security,
				org.springframework.transaction,
				org.springframework.web,
				sun.net,
				sun.reflect,
				BySpringCGLIB
			}]]></pattern>
		</encoder>
	</appender>

	<appender name="HIBER_LOGGER"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern><![CDATA[%d{dd-MM-yyyy HH:mm:ss} %boldRed(QRY) : %highlight(%-5level) %logger.%M:%L - %msg%n]]></pattern>
		</encoder>
	</appender>

	<appender name="APPLICATION_LOG_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<file>${app.log.dir:-log}/anonym_svc-application.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${app.log.dir:-log}/anonym_svc-application-%d{yyyyMMddHH}.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern><![CDATA[%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger.%M:%L - %msg%n]]></pattern>
		</encoder>
	</appender>

	<appender name="MONITORING_LOG_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<file>${app.log.dir:-log}/anonym_svc-monitoring.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${app.log.dir:-log}/anonym_svc-monitoring-%d{yyyyMMdd}.log
			</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern><![CDATA[%d{dd-MM-yyyy HH:mm:ss} [%thread] %-5level %logger.%M:%L - %msg%n]]></pattern>
		</encoder>
	</appender>

	<logger name="org.hibernate.SQL">
		<level value="DEBUG" />
		<!-- We dont want to show queries in environments that are not development , change to true as an ARG to show them -->
		<if condition='${anonym.showSql:-false}'>
			<then>
				<appender-ref ref="HIBER_LOGGER" />
			</then>
		</if>
	</logger>

	<logger name="org.hibernate.type.descriptor.sql.BasicBinder"
		additivity="false">
		<level value="TRACE" />
		<!-- We dont want to show queries in environments that are not development , change to true as an ARG to show them -->
		<if condition='${anonym.showSql:-false}'>
			<then>
				<appender-ref ref="HIBER_LOGGER" />
			</then>
		</if>
	</logger>

	<!-- By default only errors are shown, can be changed with ARGS with -Danonym.logging.level=  -->
	<root level="${anonym.logging.level:-ERROR}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="APPLICATION_LOG_FILE" />
	</root>
</configuration>
